.body {
    background: var(--background-main);
    color: var(--foreground);
    margin: 0;
    font-family: monospace;
    font-size: 1rem;
}
.hero {
    height: 80vh;
    background: var(--bacground-secondary);
}
.hero > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    padding: 12px;
}

.hero > div > h1 {
    font-size: 4em;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sec1 {
    margin-inline: 5%;
    margin-top: 0%;
    background-color: var(--background-main);
}
.sec1 > h3 {
    padding-inline: 12px;
    padding-block: 28px;
    font-size: 3em;
}

.transition_curve {
    width: 100%;
    background-repeat: repeat-x;
    margin: 0; padding: 0;
}

@media only screen and (max-width: 600px) {
    .transition_curve {
        width: 100rem;
        margin: 0; padding: 0;
    }
}